.adminpage{
    display: flex;
    min-height: 80vh;
}
.adminButtons{
    width: 20%;
    background-color: rgb(252, 254, 234);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px rgb(201, 193, 106);
}
.adminpage button{
    cursor: pointer;
    padding: 10px;
    background-color: beige;
    border: 1px solid rgb(178, 178, 163);
    color: black;
    margin: 10px;
    border-radius: 10px;
}
.adminpage button:hover{
    background-color: rgb(252, 158, 7); 
    color: white;
}
.booksList{
    margin: 30px;
    text-align: center;
}
.booksList table, .booksList td, .booksList th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.bookImage{
    width: 10%;
}
.bookImage img{
    width: 100%;
}