.adminpage{
    display: flex;
}
.adminButtons{
    width: 20%;
    background-color: rgb(252, 254, 234);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px rgb(201, 193, 106);
}
.adminpage button{
    cursor: pointer;
    padding: 10px;
    background-color: beige;
    border: 1px solid rgb(178, 178, 163);
    color: black;
    margin: 10px;
    border-radius: 10px;
}
.adminpage button:hover{
    background-color: rgb(252, 158, 7); 
    color: white;
}
.booksList{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.booksContainer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding:20px;
    margin-top: 20px;
}
.bookImage{
    width: 30%;
}
.bookDetails{
    width: 60%;
}
.bookImage img{
    width: 50%;
}