.header{
    position: fixed;
    width: 100%;
    display: flex;
    padding: 5px;
    font-style: italic;
    text-align: center;
    background-color: rgb(218, 218, 129);
}
.navigation{
    display: flex;
    width: 100%;
    padding: 3px;
    justify-content: space-between;
}
.details{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-around;
}
.headerContainer{
    width:60%;
    display: flex;
    justify-content: space-around;
}
.search input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.navigation button{
    border: 1px solid black;
    border-radius: 5px;
    font-style: italic;
    padding: 5px;
}
.navigation button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.profile a{
    text-decoration: none;
    color: black;
}
.profile a:hover{
    text-decoration: underline;
}
.details a{
    text-decoration: none;
    color: black;
}
.details a:hover{
    text-decoration: underline;
}

@media (max-width : 800px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .details{
        width: 30%;
        justify-content: space-around;
    }
    .headerContainer{
        width: 70%;
    }
    .search{
        padding: 5px;
    }
    .search input{
        width: 50%;
        padding: 2px;
    }
    .search button{
        padding: 2px;
    }
    .profile{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
}