.User{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    min-height: 80vh;
}
.UserDiv{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height:max-content;
}
.div{
    display: flex;
    padding: 10px;
}
.div span{
    cursor: pointer;
    background-color: rgb(237, 230, 174);
    padding: 10px;
    border-radius: 5px;
}
.div span:hover{
    text-decoration: underline;
}
.UserProfileContent{
    margin-top: 30px;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.UserProfileContent h2{
    text-align: center;
}
.userProfile{
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(42, 42, 41);
}
.userProfileEditButtons{
    display: flex;
    flex-direction: column;
}
.userProfileEditButtons button{
    width: 150px;
    padding: 5px;
}

.PasswordDiv{
    border: 1px solid black;
    padding: 10px;
}
.passwordContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.passwordContainer label{
    display: block;
    font-style: italic ;
}
.buttonContainer button{
    margin-right: 10px;
}
button{
    cursor: pointer;
}