.userpage{
    display: flex;
    flex-direction: column;
}
.welcomeDiv{
    margin: 40px;
    padding: 20px;
}
.welcomeDiv img{
    width: 100%;
    border-radius: 20px;
}
.bookpage h2{
    padding: 30px;
}
.Cart_Rent_Buttons{
    display: flex;
}
.userBookDetails button{
    cursor: pointer;
    padding: 8px;
    width: 40%;
    background-color: rgb(255, 255, 181);
    border: 1px solid rgb(178, 178, 163);
    color: black;
    margin-right: 10px;
    border-radius: 10px;
}
.userBookList button:disabled{
    background-color: #fffffe;
    color: rgb(254, 235, 235);
}
.userBookList button:disabled:hover{
    background-color: #fffffe;    
    color: rgb(254, 235, 235);

}
.userBookList button:hover{
    background-color: rgb(252, 158, 7); 
    color: white;
}
.userBookList{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20px;
}
.userBookContainer{
    display: flex;
    margin: 30px;
    border: 1px solid rgb(219, 219, 203);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(224, 224, 126);
    padding: 30px;
    width: 70%;
}
.userBookImage{
    width: 30%;
}
.userBookImage img{
    width: 90%;
}
.userBookDetails{
    margin-left: 20px;
    width: 70%;
}
.BooksList table{
    border: 1px solid black;
    margin:20px;
    border-collapse: collapse;
}
.BooksList th, .BooksList td{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 10px;
}
@media (max-width:700px){
    .userBookList{
        grid-template-columns: auto;
    }
    .welcomeDiv{
        margin: 10px;
    }
}